<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="./assets/calzone.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('../headers/header.ejs')
        $('#sourceCode').load('../headers/sourceCode.ejs')
        $('#headerDropList').load('../headers/headerDropList.ejs')
        $('#headerLink').load('../headers/headerLink.ejs')
      })
    </script>

    <div id="header"></div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <div id="sourceCode"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="dropdown-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <div id="headerDropList"></div>
            <% if (isAuth) {%>
            <div id="headerLink"></div>
          </ul>
          <%} else {%>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="dropdown-item">
              <a class="nav-link" href="/login"
                ><img src="../../images/login.png" style="width: 50px; height: 50px"
              /></a>
            </li>
          </ul>
          <%}%>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <!-- Header-->
    <header class="bg-dark py-3">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Category:</h1>
          <p class="lead fw-normal text-white-50 mb-0">Backend</p>
          <img class="img_category" src="../images/backend.png" alt="..." />
        </div>
      </div>
    </header>

    <!-- alerts -->
    <%if (alert.type.length > 0) { %>
    <div class="container px-4 px-lg-5 my-5">
      <div class="alert alert-<%=alert.type %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="text-center"><strong>Message:</strong> <%=alert.message %></div>
      </div>
    </div>
    <%}%>

    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <%if (products.length > 0) { %> <% products.forEach((product)=> { %>
          <div class="mb-auto col">
            <div class="favourite h-100 m">
              <!-- Product image-->
              <img class="favourite-img-top" src="<%= product.img %>" alt="" />
              <!-- Product details-->
              <div class="favourite-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder"><%= product.title %></h5>
                  <h7><%= product.price %>$</h7>
                </div>
              </div>
              <!-- Product actions-->
              <div class="favourite-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="/products/<%= product.id %>"
                    >Read</a
                  >
                </div>
              </div>
              <h6><%= product.date.toLocaleString()%></h6>
            </div>
            <div class="text-center">
              <button
                id="copy-btn"
                class="btn btn-outline-dark mt-auto"
                onclick="setClipboard('<%=base_url%>/products/<%= product.id %>')"
              >
                Copy URL
              </button>
              <div
                id="share-buttons"
                onclick="setMedia('<%=base_url%>/products/<%= product.id %>')"
              >
                <a class="facebook" target="blank"><i class="fab fa-facebook"></i></a>
                <a class="twitter" target="blank"><i class="fab fa-twitter"></i></a>
                <a class="email" target="blank"><i class="fa fa-envelope"></i></a>
                <a class="linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
                <a class="telegram" target="blank"><i class="fab fa-telegram"></i></a>
              </div>
            </div>
          </div>
          <% }) %> <% } else {%>
          <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">Opps</h1>
              <p class="lead fw-normal text-white-50 mb-0">
                At this moment, there are not any posts
              </p>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My Website 2022</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
