<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Keps'ko site</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="./assets/calzone.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./css/register.css" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="https://github.com/vasyl1312/first_pet">Source Code</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Categories</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/products">All Products</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">JavaScript</a></li>
                <li><a class="dropdown-item" href="#!">Java</a></li>
                <li><a class="dropdown-item" href="#!">Python</a></li>
                <li><a class="dropdown-item" href="#!">C similar</a></li>
                <li><a class="dropdown-item" href="#!">Frontend</a></li>
                <li><a class="dropdown-item" href="#!">Backend</a></li>
                <li><a class="dropdown-item" href="#!">Web Design</a></li>
                <li><a class="dropdown-item" href="#!">Other</a></li>
              </ul>
            </li>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/add">Add new</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/card">Card</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
            </ul>
          </ul>
        </div>
        <% if (isAuth) {%>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
        </ul>
        <%}%>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="/login">Log out</a></li>
      </ul>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-3">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <!-- alerts -->
<<<<<<< HEAD
          <h1 class="display-4 fw-bolder">It's your history favourite:</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            On this page, you can save posts for the future, and contact the owner (you will send a
            letter and get some info about the owner)
          </p>
=======
          <h1 class="display-4 fw-bolder">It's your cart:</h1>
          <p class="lead fw-normal text-white-50 mb-0">History</p>
>>>>>>> 6ba1252c7040d771c70b91db7fa01546eb11d3ce
        </div>
      </div>
    </header>

    <!-- alerts -->
    <%if (alert.type.length > 0) { %>
    <div class="container px-4 px-lg-5 my-5">
      <div class="alert alert-<%=alert.type %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="text-center"><strong>Message:</strong> <%=alert.message %></div>
      </div>
    </div>
    <%}%>

    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <%if (card.length > 0) { %> <% card.forEach((product)=> { %>
          <div class="col mb-5">
            <div class="card h-100">
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">Title:</h5>
                  <h6><%= product.title %></h6>
                  <h5 class="fw-bolder">product:</h5>
                  <h6><%= product.productId %></h6>

                  <h5 class="fw-bolder">owner:</h5>
                  <h6><%= product.ownerId %></h6>
                </div>

                <form action="/history" method="POST">
                  <input type="hidden" name="productId" value="<%= product._id %>" />
                  <input type="hidden" name="title" value="<%= product.title%>" />
                  <input type="hidden" name="img" value="<%= product.img%>" />
                  <input type="hidden" name="price" value="<%= product.price%>" />
<<<<<<< HEAD
                  <input type="hidden" name="ownerId" value="<%= product.ownerId%>" />
                  <input type="hidden" name="userInSession" value="<%= userInSession._id %>" />

=======
                  <input type="hidden" name="userId" value="<%= product.userId%>" />
>>>>>>> 6ba1252c7040d771c70b91db7fa01546eb11d3ce
                  <button type="submit" class="btn btn-outline-dark mt-auto">
                    Contact this candidate
                  </button>
                </form>
              </div>
            </div>
            <div class="text-center">
              <form action="card/remove/:id" method="POST">
                <input type="hidden" name="productId" value="<%= product._id %>" />
                <input type="hidden" name="userId" value="<%= product.userId %>" />
                <button type="submit" class="btn btn-outline-dark mt-auto">
                  Remove from this card
                </button>
              </form>
            </div>
          </div>
          <%})%> <% } else {%>
          <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">Opps</h1>
              <p class="lead fw-normal text-white-50 mb-0">At this moment, card is an empty</p>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My Website 2022</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
