<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="../assets/calzone.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('./headers/mainHeader.ejs')
        $('#productsDropdown').load('./headers/product.ejs')
        $('#authRoutes').load('./headers/authRoute.ejs')
        $('#loader').load('./headers/loader.ejs')
        $('#logo').load('./headers/logo.ejs')
        $('#homeRoute').load('./headers/homeRoute.ejs')
        $('#loginRoute').load('./headers/loginRoute.ejs')
        $('#hero').load('./headers/hero.ejs')
        $('#copyright').load('./headers/copyright.ejs')
        $('#scripts').load('./headers/scripts.ejs')
      })
    </script>
    <div id="header"></div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!--PreLoader-->
    <a id="loader"></a>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
              <!-- logo -->
              <a id="logo"></a>
              <!-- logo -->

              <!-- menu start -->
              <nav class="main-menu">
                <ul>
                  <!-- <li class="current-list-item"> -->
                  <li id="homeRoute"></li>
                  <!-- </li> -->
                  <li id="productsDropdown"></li>
                  <% if (isAuth) {%>
                  <a id="authRoutes"></a>
                  <%} else {%>
                  <li id="loginRoute"></li>
                  <%}%>
                </ul>
              </nav>
              <div class="mobile-menu"></div>
              <!-- menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->

    <div class="hero-area hero-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-7 text-center">
            <div class="hero-text">
              <div class="hero-text-tablecell">
                <h2 style="color: #ffffff">
                  <span class="orange-text">It's your history </span
                  ><i class="fa fa-history"></i> of communication:
                </h2>
                <br />
                <h4 style="color: #413a3a">
                  <br />
                  On this page, you can read with which candidate you started
                  <b style="color: #fff"> communication </b>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="single-product-img">
              <br />
              <br />
              <br />
              <br />
              <br />
              <img src="./assets/history.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="dark-banner">
      <!--  history -->
      <div class="product-section mt-150 mb-150">
        <div class="container">
          <div class="row">
            <%if (alert.type.length > 0) { %>
            <div class="container">
              <div class="alert alert-<%=alert.type %> alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div class="text-center"><strong>Message:</strong> <%=alert.message %></div>
              </div>
            </div>
            <%}%>
            <!-- table history -->
            <div class="col-lg-8 offset-lg-2 text-center">
              <div class="cart-table-wrap">
                <table class="cart-table">
                  <%if (history.length > 0) { %>
                  <thead class="cart-table-head">
                    <tr class="table-head-row">
                      <th class="product-name"><b>Product title</b></th>
                      <th class="owner-name"><b>Owner Name</b></th>
                      <th class="owner-email"><b>Owner Email</b></th>
                      <th class="expected-salary"><b>Expected salary</b></th>
                      <th class="date"><b>Date, when message was sent</b></th>
                      <th class="product-remove">Delete</th>
                    </tr>
                  </thead>
                  <% history.forEach((product)=> { %>
                  <tbody>
                    <tr class="table-body-row">
                      <td class="product-name">
                        <b class="orange-text"><%= product.productTitle %></b>
                      </td>
                      <td class="owner-name" style="color: #fff"><%= product.ownerName %></td>
                      <td class="owner-email" style="color: #fff">
                        <b> <%= product.ownerEmail %> </b>
                      </td>
                      <td class="expected-salary" style="color: #fff">
                        <%= product.productPrice %>$
                      </td>
                      <td class="date" style="color: #fff"><%= product.data %></td>
                      <td class="product-remove">
                        <form action="history/remove/:id" method="POST">
                          <input type="hidden" name="productId" value="<%= product._id %>" />
                          <input type="hidden" name="userId" value="<%= product.userInSession %>" />
                          <button type="submit" class="cart-btn">
                            <i class="fa fa-trash"></i>
                          </button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                  <% }) %> <% } else {%>
                  <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                      <h3 style="color: #413a3a"><span class="orange-text">Opps</span>...</h3>
                      <b style="color: #413a3a"> At this moment, there are not any posts </b>
                    </div>
                  </div>
                  <%}%>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end history  -->

    <!-- copyright -->
    <a id="copyright"></a>
    <!-- end copyright -->
    <a id="scripts"></a>
  </body>
</html>
