<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="./assets/calzone.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('../headers/header.ejs')
        $('#sourceCode').load('../headers/sourceCode.ejs')
        $('#headerDropList').load('../headers/headerDropList.ejs')
        $('#headerLink').load('../headers/headerLink.ejs')
      })
    </script>
    <div id="header"></div>
    <link href="./css/styles.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./css/register.css" />
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <div id="sourceCode"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="dropdown-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <div id="headerDropList"></div>
            <% if (isAuth) {%>
            <div id="headerLink"></div>
          </ul>
          <%} else {%>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="dropdown-item">
              <a class="nav-link" href="/login"
                ><img src="../../images/login.png" style="width: 50px; height: 50px"
              /></a>
            </li>
          </ul>
          <%}%>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <!-- Header -->
    <header class="bg-dark py-3">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <p class="lead fw-normal text-white-50 mb-0">
            On this page, you can to see info about this product, author, you can to add this
            product to favorite and add to favourite
          </p>
        </div>
      </div>
    </header>

    <!-- Section-->
    <section class="py-5">
      <div class="product-info">
        <h1><%= product.title %></h1>
        <img class="favourite-img-read-product" src="<%= img %>" alt="..." />

        <h3>Expected salary:</h3>
        <p class="price big"><%= product.price %> $</p>

        <h3>Tehnologies:</h3>
        <%if (product.categories.length > 0) { %> <% product.categories.forEach((category)=> { %>
        <a href="/<%= category %>" class="price big"><%= category %> </a>
        <%})}%>

        <textarea
          rows="9"
          style="background-color: #767474; color: white"
          class="form-control js-easymde"
          data-dl-input-translation="true"
          spellcheck="false"
          class="validate"
        >
          <%= product.description %>
        </textarea>
        <%if (isAuth) {%>
        <div class="text-center">
          <form action="/favourite/add" method="POST">
            <input type="hidden" name="productId" value="<%= product._id %>" />
            <input type="hidden" name="userInSession" value="<%= userInSession._id %>" />

            <button type="submit" class="btn btn-outline-dark mt-auto">Add to favourite</button>
          </form>
        </div>
        <%}%>
      </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My Website 2022</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
