<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="../assets/calzone.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('./headers/mainHeader.ejs')
        $('#productsDropdown').load('./headers/product.ejs')
        $('#authRoutes').load('./headers/authRoute.ejs')
        $('#loader').load('./headers/loader.ejs')
        $('#logo').load('./headers/logo.ejs')
        $('#homeRoute').load('./headers/homeRoute.ejs')
        $('#loginRoute').load('./headers/loginRoute.ejs')
        $('#hero').load('./headers/hero.ejs')
        $('#copyright').load('./headers/copyright.ejs')
        $('#scripts').load('./headers/scripts.ejs')
      })
    </script>
    <div id="header"></div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!--PreLoader-->
    <a id="loader"></a>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
              <!-- logo -->
              <a id="logo"></a>
              <!-- logo -->

              <!-- menu start -->
              <nav class="main-menu">
                <ul>
                  <!-- <li class="current-list-item"> -->
                  <li id="homeRoute"></li>
                  <!-- </li> -->
                  <li id="productsDropdown"></li>
                  <% if (isAuth) {%>
                  <a id="authRoutes"></a>
                  <%} else {%>
                  <li id="loginRoute"></li>
                  <%}%>
                </ul>
              </nav>
              <div class="mobile-menu"></div>
              <!-- menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->

    <section class="dark-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-7 text-center">
            <div class="section-title">
              <br />
              <br />
              <br />
              <br />
              <h3><span class="orange-text">All</span> Products</h3>
              <br />
              <h4 style="color: #fff">
                On this page you can see <b class="orange-text">all products</b>, so to see your own
                and add new products -
                <a href="/login" style="color: #000000">create your account.</a>
              </h4>
            </div>
          </div>
          <div class="col-md-5">
            <div class="single-product-img">
              <img src="./assets/all.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <!-- product section -->
      <div class="product-section mt-150 mb-150">
        <div class="container">
          <div class="row">
            <%if (myProd.length > 0 || elseProd.length > 0) { %> <% elseProd.forEach((product)=> {
            %>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="single-product-item">
                <div class="product-image">
                  <a href="/products/<%= product.id %>"><img src="<%= product.img %>" alt="" /></a>
                </div>
                <h3 style="color: #fff"><%= product.title %></h3>
                <p class="product-price"><span>Expected salary</span> <%= product.price %>$</p>
                <a href="/products/<%= product.id %>" class="cart-btn">
                  <i class="fa fa-eye"> Read </i>
                </a>
                <p><span><%= product.date.toLocaleString()%></span></p>
                <button
                  id="copy-btn"
                  class="btn btn-outline-dark mt-auto"
                  onclick="setClipboard('<%=base_url%>/products/<%= product.id %>')"
                >
                  Copy URL
                </button>
                <div onclick="setMedia('<%=base_url%>/products/<%= product.id %>')">
                  <ul class="product-share">
                    <li>
                      <a class="facebook" target="blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a class="twitter" target="blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a class="email" target="blank"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li>
                      <a class="linkedin" target="blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a class="telegram" target="blank"><i class="fa fa-telegram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% }) %> <% myProd.forEach((product)=> { %>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="single-product-item">
                <div class="product-image">
                  <a href="/products/<%= product.id %>"
                    ><img src="<%= product.img %>" alt="" />
                    <i class="fa fa-check" style="color: #f28123"> Your product</i>
                  </a>
                </div>
                <h3 style="color: #fff"><%= product.title %></h3>
                <p class="product-price"><span>Expected salary</span> <%= product.price %>$</p>
                <a href="/products/<%= product.id %>" class="cart-btn"
                  ><i class="fa fa-eye"> Read </i>
                </a>
                <p><span><%= product.date.toLocaleString()%></span></p>
                <!-- Copy -->
                <button
                  id="copy-btn"
                  class="btn btn-outline-dark mt-auto"
                  onclick="setClipboard('<%=base_url%>/products/<%= product.id %>')"
                >
                  Copy URL
                </button>
                <!-- share-buttons -->
                <div onclick="setMedia('<%=base_url%>/products/<%= product.id %>')">
                  <ul class="product-share">
                    <li>
                      <a class="facebook" target="blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a class="twitter" target="blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a class="email" target="blank"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li>
                      <a class="linkedin" target="blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a class="telegram" target="blank"><i class="fa fa-telegram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% }) %> <% } else {%>
            <div class="col-lg-8 offset-lg-2 text-center">
              <div class="section-title">
                <h3><span class="orange-text">Opps</span>...</h3>
                <b> At this moment, there are not any posts </b>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </section>

    <!-- end product section -->

    <!-- copyright -->
    <a id="copyright"></a>
    <!-- end copyright -->
    <a id="scripts"></a>
  </body>
</html>
