<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Keps'ko site</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/calzone.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="https://github.com/vasyl1312/first_pet">Source Code</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Categories</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/products">All Products</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">JavaScript</a></li>
                <li><a class="dropdown-item" href="#!">Java</a></li>
                <li><a class="dropdown-item" href="#!">Python</a></li>
                <li><a class="dropdown-item" href="#!">C similar</a></li>
                <li><a class="dropdown-item" href="#!">Frontend</a></li>
                <li><a class="dropdown-item" href="#!">Backend</a></li>
                <li><a class="dropdown-item" href="#!">Web Design</a></li>
                <li><a class="dropdown-item" href="#!">Other</a></li>
              </ul>
            </li>

            <% if (isAuth) {%>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/add">Add new</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/card">Card</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
            </ul>
            <%}%>
          </ul>
        </div>
        <% if (isAuth) {%>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
        </ul>
        <%}%>
      </div>
      <% if (isAuth) {%>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
      </ul>
      <%} else {%>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
      </ul>
      <%}%>
    </nav>
    <!-- Header -->
    <header class="bg-dark py-3">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <p class="lead fw-normal text-white-50 mb-0">
            On this page, you can to see info about this product, author, you can to add this
            product to favorite and add to cart
          </p>
        </div>
      </div>
    </header>

    <!-- Section-->
    <section class="py-5">
      <div class="product-info">
        <h1><%= product.title %></h1>
        <img class="card-img-read-product" src="/<%= product.img %>" alt="..." />
        <p class="price big"><%= product.price %> ₴</p>
        <!-- <p class="owner big"><%= product.owner %></p> -->
        <p><%= product.description %></p>
        <%if (isAuth) {%>
        <div class="text-center">
          <form action="/card/add" method="POST">
            <input type="hidden" name="productId" value="<%= product._id %>" />
            <input type="hidden" name="title" value="<%= product.title%>" />
            <input type="hidden" name="userId" value="<%= product.userId%>" />
            <input type="hidden" name="userInSession" value="<%= userInSession._id %>" />
            <button type="submit" class="btn btn-outline-dark mt-auto">Add to cart</button>
          </form>
        </div>
        <%}%>
      </div>
    </section>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My Website 2022</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
