<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('../../headers/header.ejs')
        $('#sourceCode').load('../../headers/sourceCode.ejs')
        $('#headerDropList').load('../../headers/headerDropList.ejs')
        $('#headerLink').load('../../headers/headerLink.ejs')
      })
    </script>

    <div id="header"></div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <div id="sourceCode"></div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="dropdown-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <div id="headerDropList"></div>
            <% if (isAuth) {%>
            <div id="headerLink"></div>
          </ul>
          <%} else {%>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="dropdown-item">
              <a class="nav-link" href="/login"
                ><img src="../../images/login.png" style="width: 50px; height: 50px"
              /></a>
            </li>
          </ul>
          <%}%>
        </div>
      </div>
    </nav>

    <link rel="icon" type="image/x-icon" href="./../assets/calzone.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
  </head>

  <body>
    <!-- Header-->
    <header class="bg-dark py-3">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <!-- alerts -->
          <h1 class="display-4 fw-bolder">Editing portfolio:</h1>
          <p class="lead fw-normal text-white-50 mb-0"><%= product.title %></p>
        </div>
      </div>
    </header>

    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <form action="/my_products/edit" method="POST" enctype="multipart/form-data">
            <div class="input-field">
              <label for="title">Title of portfolio</label>
              <input
                id="title"
                name="title"
                type="text"
                class="validate"
                required
                value="<%= product.title %>"
              />
              <span class="helper-text" data-error="Enter title"> </span>
            </div>

            <div class="input-field">
              <label for="price">Expected salary in $ (value must be integer)</label>
              <input
                id="price"
                name="price"
                type="number"
                class="validate"
                required
                min="0"
                max="1000000"
                value="<%= product.price %>"
              />
              <span
                class="helper-text"
                data-error="Enter expected salary in $ (value must be integer)"
              >
              </span>
            </div>

            <input type="hidden" name="img" value="<%= product.img %>" />

            <br />

            <h3>Tehnologies:</h3>
            <%if (product.categories.length > 0) { %> <% product.categories.forEach((category)=> {
            %>
            <a href="/<%= category %>" class="price big"><%= category %> </a>
            <%})}%>
            <br />
            <br />
            <br />
            <label for="categories">Please select new technologies</label>
            <select
              data-placeholder="Start write..."
              multiple
              class="chosen-select"
              id="categories"
              name="categories"
            >
              <option value=""></option>
              <option>javascript</option>
              <option>java</option>
              <option>python</option>
              <option>c_similar</option>
              <option>frontend</option>
              <option>backend</option>
              <option>web_design</option>
              <option>other</option>
            </select>
            <br /><br />

            <div class="input-field">
              <label for="description">Description or info about the portfolio</label>
              <textarea
                rows="9"
                class="form-control js-easymde"
                data-dl-input-translation="true"
                spellcheck="false"
                class="validate"
                id="description"
                name="description"
                type="text"
                required
              >
              <%= product.description %>
              </textarea>
            </div>
            <br />

            <div class="input-field">
              <label for="avatar">Please select another image</label>
              <input type="file" name="avatar" value="<%= product.img %>" />
            </div>

            <!-- id, that to know, which product we have to edit-->
            <input type="hidden" name="id" value="<%= product.id %>" />
            <input type="hidden" name="userId" value="<%= product.userId %>" />
            <button type="submit" class="btn btn-outline-dark mt-auto">Update Product</button>
          </form>
        </div>

        <form action="remove" method="POST">
          <input type="hidden" name="productId" value="<%= product._id %>" />
          <input type="hidden" name="img" value="<%= product.img %>" />
          <input type="hidden" name="userId" value="<%= product.userId %>" />
          <button type="submit" class="btn btn-outline-dark mt-auto">Delete this product</button>
        </form>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My Website 2022</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
  </body>
</html>
