<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/calzone.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('/../headers/mainHeader.ejs')
        $('#productsDropdown').load('/../headers/product.ejs')
        $('#authRoutes').load('/../headers/authRoute.ejs')
        $('#logo').load('/../headers/logo.ejs')
        $('#loader').load('./headers/loader.ejs')
        $('#homeRoute').load('/../headers/homeRoute.ejs')
        $('#loginRoute').load('/../headers/loginRoute.ejs')
        $('#hero').load('/../headers/hero.ejs')
        $('#copyright').load('/../headers/copyright.ejs')
        $('#scripts').load('/../headers/scripts.ejs')
      })
    </script>
    <div id="header"></div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/jtypyuj9zafop37vzzdiq2j9tsyldw451muqsnsq3z5q129y/tinymce/6/tinymce.min.js"></script>
    <script>
      tinymce.init({
        selector: '#description',
        plugins:
          'preview   searchreplace autolink autosave save directionality  visualblocks visualchars fullscreen image link media  template codesample  table charmap pagebreak nonbreaking anchor advlist lists  wordcount   help    emoticons ',
        toolbar_sticky: true,
      })
    </script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
  </head>
  <body>
    <!--PreLoader      doesn't work    -->
    <a id="loader"></a>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
              <!-- logo -->
              <div class="site-logo">
                <a href="/">
                  <img src="/assets/calzone.png" alt="" />
                </a>
              </div>
              <!-- logo -->

              <!-- menu start -->
              <nav class="main-menu">
                <ul>
                  <!-- <li class="current-list-item"> -->
                  <li id="homeRoute"></li>
                  <!-- </li> -->
                  <li id="productsDropdown"></li>
                  <% if (isAuth) {%>
                  <a id="authRoutes"></a>
                  <%} else {%>
                  <li id="loginRoute"></li>
                  <%}%>
                </ul>
              </nav>
              <div class="mobile-menu"></div>
              <!-- menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->

    <div class="hero-area hero-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-7 text-center">
            <div class="hero-text">
              <div class="hero-text-tablecell">
                <h2 style="color: #ffffff">
                  <span class="orange-text">Editing product:</span>
                  <br /><b> <%= product.title %> </b>
                </h2>
                <br />
                <h4 style="color: #413a3a">
                  Here you can <b class="orange-text"> edit </b> the title, expected salary,
                  technologies, photos, description and more...
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="single-product-img">
              <br />
              <br />
              <br />
              <br />
              <br />
              <img src="../../assets/edit.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="dark-banner">
      <!--  form -->
      <div class="contact-from-section mt-150 mb-150">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              <div class="contact-form">
                <form
                  action="/my_products/edit"
                  method="POST"
                  enctype="multipart/form-data"
                  id="submit"
                >
                  <p>
                    <strong style="color: #646464">Title: </strong>
                    <input
                      class="validate"
                      type="text"
                      placeholder="Please enter your speciality"
                      name="title"
                      id="title"
                      maxlength="45"
                      value="<%= product.title %>"
                      required
                    />
                    <br />
                    <br />
                    <strong style="color: #646464">Expected salary: </strong>
                    <br />
                    <input
                      type="number"
                      placeholder="Enter expected salary in $ (value must be integer)"
                      id="price"
                      name="price"
                      min="0"
                      max="1000000"
                      value="<%= product.price %>"
                      required
                    />
                  </p>
                  <br />
                  <strong style="color: #646464">Description: </strong>
                  <br />
                  <p>
                    <textarea
                      name="description"
                      id="description"
                      cols="30"
                      rows="10"
                      maxlength="2500"
                      minlength="50"
                      placeholder="Description"
                      required
                    >
                  <%= product.description %>
                </textarea
                    >
                  </p>
                  <input type="hidden" name="img" value="<%= product.img %>" />

                  <strong style="color: #646464">Categories: </strong>
                  <%if (product.categories.length > 0) { %> <%
                  product.categories.forEach((category)=> { %>
                  <a href="/<%= category %>" class="btn btn-outline-dark" style="color: #fff"
                    ><%= category %></a
                  >
                  <%})}%>
                  <br />
                  <br />
                  <hr style="background-color: #ffffff" />
                  <label for="categories"
                    ><h5 style="color: #646464">
                      Please select <b class="orange-text"> new categories </b>
                    </h5>
                  </label>
                  <br />
                  <select
                    data-placeholder="Start write..."
                    multiple
                    class="chosen-select"
                    id="categories"
                    name="categories"
                  >
                    <option value=""></option>
                    <option>javascript</option>
                    <option>java</option>
                    <option>python</option>
                    <option>c_similar</option>
                    <option>frontend</option>
                    <option>backend</option>
                    <option>web_design</option>
                    <option>other</option>
                  </select>

                  <br />
                  <br />

                  <div class="input-field">
                    <label for="avatar">
                      <h5 style="color: #646464">
                        Please select <b class="orange-text"> another image </b> (jpg/png/jpeg)
                      </h5>
                    </label>
                    <br />
                    <input
                      type="file"
                      name="avatar"
                      style="color: #646464"
                      value="<%= product.img %>"
                    />
                  </div>
                  <br /><br />

                  <div class="checkbox-wrapper-5">
                    <h5 style="color: #646464">
                      Your product will <b class="orange-text"> active</b>, do you want to make it
                      passive(everyone will read your resume but is not able to contact you)?
                    </h5>
                    <div class="check">
                      <input id="check-5" type="checkbox" name="myCheckbox" value="true" checked />
                      <label for="check-5"></label>
                      <input type="hidden" name="myCheckbox" value="false" />
                    </div>
                  </div>

                  <hr style="background-color: #ffffff" />
                  <br /><br />

                  <input type="hidden" name="id" value="<%= product.id %>" />
                  <input type="hidden" name="userId" value="<%= product.userId %>" />
                  <button type="submit" class="cart-btn">
                    <i class="fa fa-refresh"></i>
                    Update Product
                  </button>
                </form>
              </div>
              <h3 style="color: #646464">Or</h3>
              <br />
              <form action="remove" method="POST">
                <input type="hidden" name="productId" value="<%= product._id %>" />
                <input type="hidden" name="img" value="<%= product.img %>" />
                <input type="hidden" name="userId" value="<%= product.userId %>" />
                <button type="submit" class="bordered-btn">
                  <i class="fa fa-trash" style="color: #000"> Delete this product</i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact form -->

    <!-- copyright -->
    <a id="copyright"></a>
    <!-- end copyright -->
    <script src="/../assets/js/jquery.isotope-3.0.6.min.js"></script>
    <script src="/../assets/js/owl.carousel.min.js"></script>
    <script src="/../assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/../assets/js/sticker.js"></script>
    <script src="/../assets/js/main.js"></script>
    <script src="/../js/scripts.js"></script>
  </body>
</html>
